[Unit]
Description=Schedule to run drcom client service everyday
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnStartupSec=10
OnCalendar=*-*-* 6:05
Unit=drcom8021x.service
RemainAfterElapse=true
WakeSystem=true

[Install]
WantedBy=timer.target