[Unit]
Description=Drcom client service
Requires=network.target
After=network.target
Before=create_ap.service

[Service]
ExecStart=/usr/local/bin/DrcomScutClient --conf /etc/drcom8021x.conf
Type=simple
# KillSignal=SIGINT
Restart=true
RestartSec=2

[Install]
WantedBy=multi-user.target
